POSTGRES_DB=stabilityos
POSTGRES_USER=stabilityos
POSTGRES_PASSWORD=change-this-password
POSTGRES_HOST_PORT=5433
BACKEND_PORT=8080
SPRING_PROFILES_ACTIVE=docker
STABILITYOS_API_KEY=change-this-api-key
STABILITYOS_SCHEDULER_ENABLED=true
STABILITYOS_DAILY_BRIEF_CRON=*/30 * * * * *
STABILITYOS_TIMEZONE=Asia/Kolkata
STABILITYOS_TELEGRAM_ENABLED=true
STABILITYOS_TELEGRAM_BOT_TOKEN=<your_bot_token>
STABILITYOS_TELEGRAM_CHAT_ID=<your_chat_id>
STABILITYOS_NEWS_DIGEST_ENABLED=true
STABILITYOS_NEWS_DIGEST_CRON=0 0 9 * * *
STABILITYOS_TELEGRAM_WEBHOOK_SECRET=<THE API SECRET>